{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 1.5 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 1.5 | round: 0 }}px;
    }
  }


    .section-{{ section.id }}-container {
      /* padding: 0 {{ section.settings.horizontal_spacing | minus: 15 | at_least: 0 }}px; */
      row-gap: {{ section.settings.vertical_spacing }}px;
      {%- if section.settings.max_width > 0 -%}
        max-width: {{ section.settings.max_width }}px;
        margin: 0 auto;
      {%- endif -%}
    }
    .section-{{ section.id }}-container .press-logos__row {
      column-gap: {{ section.settings.horizontal_spacing }}px;
    }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient isolate">
  <div
    id="PressLogos-{{ section.id }}"
    class="press-logos page-width section-{{ section.id }}-padding"
  >
    <div class="press-logos__wrapper section-{{ section.id }}-container tw-flex tw-flex-col tw-items-center">
      <h2 class="press-logos__title tw-text-center {% if section.settings.heading_style == 'small_uppercase' %}caption-large tw-text-foreground/60{% endif %}">
        {{ section.settings.heading }}
      </h2>
      {%- for block in section.blocks -%}
        <div
          id="PressHighlightsRow-{{ block.id }}"
          class="press-logos__row tw-flex tw-justify-center tw-items-stretch tw-w-full tw-gap-x-24"
          {{ block.shopify_attributes }}
        >
          {%- for i in (1..4) -%}
            {%- assign image_key = 'image_' | append: i -%}
            {%- assign logo_image = block.settings[image_key] -%}
            {%- if logo_image == blank -%}
              {%- break -%}
            {%- endif -%}
            {%- assign width_key = 'width_' | append: i -%}
            {%- assign width = block.settings[width_key] -%}
            {%- capture sizes -%}
              calc({{ width }}vw - {{ width | divided_by: 100.0 | times: 4.8 }}rem)
            {%- endcapture -%}
            <div style="width: {{ width }}%;">
              {{
                logo_image
                | image_url: width: 1500
                | image_tag:
                  loading: 'lazy',
                  sizes: sizes,
                  widths: '165, 360, 535, 750, 1070, 1500',
                  class: 'press-logos__logo tw-object-contain tw-w-full tw-h-full'
              }}
            </div>
          {%- endfor -%}
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Press Logos",
  "settings": [
    {
      "id": "heading",
      "type": "text",
      "label": "Heading",
      "default": "Featured In"
    },
    {
      "type": "select",
      "id": "heading_style",
      "options": [
        {
          "value": "small_uppercase",
          "label": "Small Uppercase"
        },
        {
          "value": "large",
          "label": "Large Heading"
        }
      ],
      "default": "small_uppercase",
      "label": "Heading style"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "accent-inverse"
    },
    {
      "type": "header",
      "content": "Section spacing"
    },
    {
      "type": "range",
      "id": "vertical_spacing",
      "label": "Vertical spacing",
      "min": 0,
      "max": 48,
      "step": 1,
      "default": 12
    },
    {
      "type": "range",
      "id": "horizontal_spacing",
      "label": "Horizontal spacing",
      "min": 0,
      "max": 48,
      "step": 1,
      "default": 24
    },
    {
      "type": "number",
      "id": "max_width",
      "label": "Maximum section width (px)",
      "default": 414
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "press_row",
      "name": "Logo row",
      "settings": [
        {
          "type": "paragraph",
          "content": "Add up to 4 press items for this row of logos."
        },
        {
          "type": "header",
          "content": "Press logo #1"
        },
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "Press Logo"
        },
        {
          "id": "width_1",
          "type": "range",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Width of row (%)",
          "default": 25
        },
        {
          "type": "header",
          "content": "Press logo #2"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "Press Logo"
        },
        {
          "id": "width_2",
          "type": "range",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Width of row (%)",
          "default": 25
        },
        {
          "type": "header",
          "content": "Press logo #3"
        },
        {
          "type": "image_picker",
          "id": "image_3",
          "label": "Press Logo"
        },
        {
          "id": "width_3",
          "type": "range",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Width of row (%)",
          "default": 25
        },
        {
          "type": "header",
          "content": "Press logo #4"
        },
        {
          "type": "image_picker",
          "id": "image_4",
          "label": "Press Logo"
        },
        {
          "id": "width_4",
          "type": "range",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Width of row (%)",
          "default": 25
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Press Logos",
      "category": "Press"
    }
  ]
}
{% endschema %}
